<html>
    <head>
        <title></title>
        <style>
            .link__:link{color:black;text-decoration: None;font-size: 30px;}
            .link__:hover{color:black;}
            .link__:visited{color:black;}
            p{font-size: 30px;}
            body{background-color:white;}
            fieldset{background-color: #e6e6e6;}
        </style>
    </head>
    <body>
        <fieldset>
            <div>
                <a href="{{('/index')}}" class="link__">Home </a>
                {% if current_user.is_anonymous %}
                <a href="{{('/login')}}" class="link__">Login </a>
                <a href="{{('/multiplication')}}" class="link__"> multiplication </a>
                <a href="{{('/division.html')}}" class="link__"> division </a>
                {% else %}
                <a href="{{('/logout')}}" class="link__">Logout</a>
                {% endif %}
            </div>
        </fieldset>
        {% block content %}
        {% endblock %}
    </body>
</html>