{% extends 'base.html' %}

{% block content %}
<center>
    <br><br><br><br><br><br>
    <h1>Log In</h1>
    <form action="" method="POST">
        {{form.hidden_tag() }}
        <p> {{form.email(size=35, placeholder = "Email")}}</p>
		    {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        <p> {{form.password(size=35, placeholder = "Password")}}</p>
        <p> {{form.submit() }} </p>
    </form>
    <a href="/changePassword">Forget your Password !?</a><br><br>
    <a href="/signup">Don't have an account !?</a>
</center>
{% endblock %}